<nav class="navbar navbar-inverse navbar-fixed-top rv-header">
  <div class="container-fluid">
    <div class="navbar-header titlebar">
      <span class="recordViewTitleLabel">Record View : USRE46237E1</span>
      <span class="recordViewGranted">GRANTED</span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      
    </div>
  </div>
  <div class="container-fluid">
    <div style="float:left;width:75%;line-height:40px;"><rv-menubar menu-items=vm.menuItems call-back=vm.menuClicked></rv-menubar></div>
    <div style="float:right;width:25%;line-height:40px;"> <span>Change Language</span> <span>? Help</span></div>
  </div>
</nav>